
*{
       box-sizing: border-box;                                           
}
body{
    padding: 0%;
    margin: 0%;                                              
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    padding: 10px;
}
.container{
    width: 100%;
    height: auto;
    display: flex; 
     
   
}
.side-bar{
     width: 20%;
     height:100vh;
     background-color: #000fff;
     color:#fff;
                                                
}
.main_board{
  width: 80%;
  
  display: flex;
  flex-direction: column;
  position: relative;
  
}


.details-admin{
   margin-top: 3.5rem;
   display: flex;
   justify-content: center;
}
.details-admin ul{
   display: flex;
   flex-direction: column;
}
.details-admin ul li{
   width: 100%;
   margin: 10px 5px;
    display: flex;
    align-items: center;
}
.details-admin ul li .img-icon{
   width: 20px;
   height: 20px;

   border-radius: 4.5rem;
}
.details-admin ul li .img-icon img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.details-admin ul li:hover{
   border-bottom: 1px solid red;

}
.details-admin ul li a{
   color:#fff;
}
.admin-icon{
margin-top: 2.1rem;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}
.admin-icon .img-admin{
width: 50px;
height: 50px;
border-radius: 1.5rem;
overflow: hidden;
margin: 0% auto;

}
.admin-icon .img-admin img{
width: 100%;
height: 100%;
object-fit: cover;
}
.view-user{
width: 90%;
height: auto;
display: flex;
flex-direction: column;


border-radius: 9px;
margin: 0% auto;
border: 1px solid #eeeeee;                                                 
}
.label{
width: 90%;
height: 40px;
padding: 40px 10px; 
margin: 0% auto;                                             
}
table{
margin: 10px;
width: 100%;
height: auto;
font-family: Arial;
font-size: 1.0rem;   
text-align: center;
margin: 0% auto;                                      
}
table tr,th{
border-bottom: 1px solid #eeeeee;                                         
}
table tr,th,td{
margin: 9rem;   
border-collapse:collapse;
padding: 10px;  
font-size: 12px;                                         
}
table tr td button{
width: 80px;
height: 20px;
background: #ff0000;
color:#ffff;
outline: none;
border:none;
text-transform: uppercase;

border-radius: 3px;
box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
table tr td button:hover{
background-color:green;
}
.nav_content li a .s{

width: 30px;
height: 30px;
border-radius: 4.1rem;
justify-content: center;
align-items: center;
overflow: hidden;
margin-left: 12px;
}
.nav_content li a .s img{
width: 100%;
height: 100%;
object-fit: cover;
}


  

.main_board .nav{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);                                            
}
.nav .search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  text-align: center;
}
.nav .search input[type="search"]{
    margin: 2px;
    width: 400px;
    height: 40px;
    padding: 20px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);

}
.nav .search   input[type="submit"]{
    width: 100px;
    height: 40px;
    background: #000fff;
    color:#ffff;
    outline: none;
    border:none;
    text-transform: uppercase;

    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  }
  .nav .nav_content{
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding-right: 9px;
}

.nav .nav_content button{
    
    outline: none;
    border:none;
    background: #000fff;
    border-radius: 5px;
    height: 20px;
    padding:0;
    
}
.nav .nav_content button:hover{
    background:transparent;
}



@media(max-width: 450px){

.nav .nav_content button{

height: 40px;
width: 50px;
}
.nav .search{
display: none;
}

.nav .nav_content{
margin-left: 2.1rem;


}

.side-bar{
 
 height: 140vh;                                         
}

.details-admin ul li a{
    display: none;
}
.details-admin ul{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    position: relative;
}
.details-admin ul li{
margin-right: 2.2rem; 

}
.view-user{
overflow-x: auto;                                            
}
table{
   width: 90px;
   overflow-x: auto;
}
}
@media(min-width: 451px) and (max-width: 540px){

.nav .search{
display: none;
}
.nav .nav_content{
margin-left: 2.1rem;


}

.side-bar{
 
 height: 140vh;                                         
}


}
@media(min-width: 541px) and (max-width: 768px){
.view-user{
overflow-x: auto;                                            
}
.nav .search input[type="search"]{
margin: 4px;
width: 100px;
}

.nav .nav_content button{

height: 40px;
width: 80px;
}
.nav .search   input[type="submit"]{
width: 50px;
height: 40px;

}
.side-bar{
 
 height: 140vh;                                         
}

}
@media(min-width: 769px) and (max-width: 1024px){

.nav .search input[type="search"]{
margin: 4px;
width: 100px;
}
.nav .nav_content{

padding-right: 6%;

}


.side-bar{
 
 height: 130vh;                                         
}

.nav .nav_content button{
height: 30px;
padding:0;

}



}
@media(min-width: 1025px) and (max-width: 1200px){
  
.side-bar{
 
 height: 140vh;                                         
}
}
@media(min-width: 1201px){
body{
 background-color: #eeeeee;
}
}
